/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #456847; */
    background-image: linear-gradient(120DEG, #00ADEE, #000000);
    opacity: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: #64646465;
    border-width: 1px;
    box-shadow: 2px 2px 2px rgb(152, 152, 153);
    font-family: cursive
  }
  
  .topnav li{
    float:left;
    list-style: none; 
    margin: 5px 20px;
  }
  
  .topnav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


/* header css from Steam website */
#global_action_menu {
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  /* background-color: #456847; */
  background-image: linear-gradient(120DEG, #00ADEE, #000000);
  opacity: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: #64646465;
  border-width: 1px;
  box-shadow: 2px 2px 2px rgb(152, 152, 153);
  font-family: cursive
}
