/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #456847; */
    background-image: linear-gradient(120DEG, #0087b9, #031538);
    opacity: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: #64646465;
    border-width: 1px;
    box-shadow: 2px 2px 2px rgb(152, 152, 153);
    font-family: sans-serif
  }
  
  .topnav li{
    float:left;
    list-style: none; 
    margin: 5px 20px;
  }
  
  .topnav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0452aa;
    color: white;
  }


/* header css from Steam website */
#global_action_menu {
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  /* background-color: #456847; */
  background-image: linear-gradient(120DEG, #0087b9, #031538);
  opacity: 100%;
  overflow: hidden;
  border-style: solid;
  border-color: #64646465;
  border-width: 1px;
  box-shadow: 2px 2px 2px rgb(152, 152, 153);
  font-family: sans-serif
}

.app {
  background-image: linear-gradient(120DEG, #00ADEE, #000000); 
}

.button1{ 

  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }

  .button1:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  
  @media all and (max-width:30em){
  .button1{
  display:block;
  margin:0.4em auto;
  }
}

.home{
  background-image: linear-gradient(120DEG, #0087b9, #031538);
}

.library{
  background-image: linear-gradient(120DEG, #0087b9, #031538);
}

.store{
  background-image: linear-gradient(120DEG, #0087b9, #031538);
}

/* .community{
  background-image: linear-gradient(120DEG, #0087b9, #031538);
} */

.cards__item{
  display: grid;
  grid-template-rows: max-content 250px 1fr;
  position: relative;
  object-position: center;
}

.card__image{
  object-fit: cover;
  /* object-position: 75% 50%; */
  width: 75%;
  height: 96.9%;
  box-shadow: 2px 5px 13px rgb(152, 152, 153);
  border-style: ridge;
  border-width: 10px;
  border-color: #6694d5;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  left: 50px;
}

.card__title{
  text-align: center
}

.card__text{
  text-align: center
}

.gameDiv{
  display: grid;
  grid-template-rows: max-content 250px 1fr;
  position: relative;
  object-position: center;
  background-color: linear-gradient(120DEG, #0087b9, #031538);
}

.cards{
  background-color: linear-gradient(120DEG, #0087b9, #031538);
  cursor: pointer;
}


.searchTitle input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;

}

.searchTitle{
  float:right;
  margin:7px;
  cursor: pointer;
}

.searchTitle button{
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }

.header__image{
  object-fit: cover;
  /* object-position: 75% 50%; */
  width: 100px;
  height: 100px;
  box-shadow: 2px 5px 13px rgb(152, 152, 153);
  border-style: ridge;
  border-width: 10px;
  border-color: #6694d5;
  border-radius: 3px;
  cursor: pointer;
}

.dropbtn {
  --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.dropbtn:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.dropbtn:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.dropbtn {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}

#select-genre{
  cursor: pointer;
}

.cards__review {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  border-radius: 3px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cards__review:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container_review {
  padding: 2px 16px;
}